<ActionBar class="actionbar">
    <NavigationButton visibility="collapsed"></NavigationButton>
    <StackLayout>
        <GridLayout columns="35 * 45">
            <Label [text]="'fa-bars' | fonticon" (tap)="toggleDrawer()" class="fa fa-white center" col="0"></Label>
            <Label [text]="'TEXTTOSPEECH.TITLE' | translate" class="actionbar-title" col="1"></Label>
            <Label [text]="'fa-play' | fonticon" (tap)="playVideo()" class="fa fa-white left" col="2"></Label>
        </GridLayout>
    </StackLayout>
</ActionBar>

<ScrollView>
    <StackLayout class="page">

        <VideoPlayer #videoplayer src="~/assets/video/ripley-last-survivor.mp4" autoplay="false" height="200" controls="false"></VideoPlayer>

        <Button text="English (en-US)" (tap)="setUSA()" class="button button-dark pt20"></Button>
        <Button text="English (en-GB)" (tap)="setUK()" class="button button-dark"></Button>
        <!-- <Button text="Dutch (nl-NL)" (tap)="setNL()" class="button button-dark"></Button> -->
        <Button text="German (de-DE)" (tap)="setDE()" class="button button-dark"></Button>
        <Button text="Polish (pl-PL)" (tap)="setPL()" class="button button-dark"></Button>

    </StackLayout>
</ScrollView>