<RadSideDrawer tkExampleTitle tkToggleNavButton gesturesEnabled="false">
    <StackLayout tkDrawerContent class="menu">
        <ScrollView>
            <StackLayout>

                <StackLayout class="sidedrawer-logo-wrapper btm-border">
                    <StackLayout horizontalAlignment="center" style="padding: 20 0">
                        <Image class="sidedrawer-logo" src="~/assets/images/mobilization.png"></Image>
                    </StackLayout>
                </StackLayout>

                <!-- HOME -->
                <GridLayout columns="30 *" orientation="horizontal" class="sidedrawer-item" [nsRouterLink]="['/home']" nsRouterLinkActive="sidedrawer-item--active"
                    [nsRouterLinkActiveOptions]="{exact:true}">
                    <Label class="sidedrawer-item-icon fa" [text]="'fa-home' | fonticon" col="0"></Label>
                    <Label class="sidedrawer-item-text" [text]="'HOME.TITLE' | translate" col="1"></Label>
                </GridLayout>

                <!-- IOS -->
                <GridLayout columns="30 *" orientation="horizontal" class="sidedrawer-item">
                    <Label class="sidedrawer-item-text" style="font-weight: bold" text="iOS" col="1"></Label>
                </GridLayout>

                <!-- NATIVE SLIDER -->
                <GridLayout columns="30 *" orientation="horizontal" class="sidedrawer-item" [nsRouterLink]="['/slider/']" nsRouterLinkActive="sidedrawer-item--active"
                    [nsRouterLinkActiveOptions]="{exact:true}">
                    <Label class="sidedrawer-item-icon fa" [text]="'fa-sliders' | fonticon" col="0"></Label>
                    <Label class="sidedrawer-item-text" [text]="'SLIDERS.TITLE' | translate" col="1"></Label>
                </GridLayout>

                <!-- VIDEO -->
                <GridLayout columns="30 *" orientation="horizontal" class="sidedrawer-item" [nsRouterLink]="['/video/']" nsRouterLinkActive="sidedrawer-item--active"
                    [nsRouterLinkActiveOptions]="{exact:true}">
                    <Label class="sidedrawer-item-icon fa" [text]="'fa-youtube' | fonticon" col="0"></Label>
                    <Label class="sidedrawer-item-text" [text]="'VIDEO.TITLE' | translate" col="1"></Label>
                </GridLayout>

                <!-- TEXT TO SPEECH -->
                <GridLayout columns="30 *" orientation="horizontal" class="sidedrawer-item" [nsRouterLink]="['/texttospeech/']" nsRouterLinkActive="sidedrawer-item--active"
                    [nsRouterLinkActiveOptions]="{exact:true}">
                    <Label class="sidedrawer-item-icon fa" [text]="'fa-comments' | fonticon" col="0"></Label>
                    <Label class="sidedrawer-item-text" [text]="'TEXTTOSPEECH.TITLE' | translate" col="1"></Label>
                </GridLayout>

                <!-- SOUNDBOARD -->
                <GridLayout columns="30 *" orientation="horizontal" class="sidedrawer-item" [nsRouterLink]="['/soundboard/']" nsRouterLinkActive="sidedrawer-item--active"
                    [nsRouterLinkActiveOptions]="{exact:true}">
                    <Label class="sidedrawer-item-icon fa" [text]="'fa-soundcloud' | fonticon" col="0"></Label>
                    <Label class="sidedrawer-item-text" [text]="'SOUNDBOARD.TITLE' | translate" col="1"></Label>
                </GridLayout>

                <!-- ANDROID -->
                <GridLayout columns="30 *" orientation="horizontal" class="sidedrawer-item">
                    <Label class="sidedrawer-item-text" style="font-weight: bold" text="Android" col="1"></Label>
                </GridLayout>

                <!-- FINGERPRINT -->
                <GridLayout columns="30 *" orientation="horizontal" class="sidedrawer-item" [nsRouterLink]="['/fingerprint/']" nsRouterLinkActive="sidedrawer-item--active"
                    [nsRouterLinkActiveOptions]="{exact:true}">
                    <Label class="sidedrawer-item-icon fa" [text]="'fa-hand-o-up' | fonticon" col="0"></Label>
                    <Label class="sidedrawer-item-text" [text]="'FINGERPRINT.TITLE' | translate" col="1"></Label>
                </GridLayout>

                <!-- SPEECHRECOGNITION -->
                <GridLayout columns="30 *" orientation="horizontal" class="sidedrawer-item" [nsRouterLink]="['/speechrecognition/']" nsRouterLinkActive="sidedrawer-item--active"
                    [nsRouterLinkActiveOptions]="{exact:true}">
                    <Label class="sidedrawer-item-icon fa" [text]="'fa-commenting-o' | fonticon" col="0"></Label>
                    <Label class="sidedrawer-item-text" [text]="'SPEECHRECOGNITION.TITLE' | translate" col="1"></Label>
                </GridLayout>

                <!-- MIP -->
                <GridLayout columns="30 *" orientation="horizontal" class="sidedrawer-item" [nsRouterLink]="['/scan/']" nsRouterLinkActive="sidedrawer-item--active"
                    [nsRouterLinkActiveOptions]="{exact:true}">
                    <Label class="sidedrawer-item-icon fa" [text]="'fa-android' | fonticon" col="0"></Label>
                    <Label class="sidedrawer-item-text" [text]="'MIP.TITLE' | translate" col="1"></Label>
                </GridLayout>

            </StackLayout>
        </ScrollView>
    </StackLayout>
    <StackLayout tkMainContent>
        <router-outlet></router-outlet>
    </StackLayout>
</RadSideDrawer>