.picture-wrapper {
  background-color: rgb(255, 255, 255);
  padding: 10 20 10 20;
  border-style: solid;
  border-width: 0 0 1 0;
  border-color: rgb(220, 220, 220);
}

.picture {
  /* max-height: 80; */
  /* height: 90; */
  width: 100%;
  display: block;
  margin: auto;
  margin-bottom: 10;
}

.pens-situatie {
  margin: auto;
}
