<ActionBar class="actionbar">
  <NavigationButton visibility="collapsed"></NavigationButton>
  <StackLayout>
    <GridLayout columns="35 * 45">
      <Label [text]="'fa-bars' | fonticon" (tap)="toggleDrawer()" class="fa fa-white center" col="0"></Label>
      <Label [text]="'MIP.TITLE' | translate" class="actionbar-title" col="1"></Label>
    </GridLayout>
  </StackLayout>
</ActionBar>

<ScrollView>
  <StackLayout>

    <Label [text]="'Speed:' + speed" textWrap="true"></Label>
    <Slider minValue="0" maxValue="32" [(ngModel)]="speed"></Slider>

    <Label text="{{ 'Turn Speed:' + turnSpeed}}" textWrap="true"></Label>
    <Slider minValue="0" maxValue="32" [(ngModel)]="turnSpeed"></Slider>

    <Button text="Forward" (tap)="moveForward()"></Button>

    <DockLayout orientation="horizontal">
      <Button dock="left" text="Left" (tap)="turnLeft()" width="50%"></Button>
      <Button dock="right" text="Right" (tap)="turnRight()" width="50%"></Button>
    </DockLayout>

    <Button text="Back" (tap)="moveBack()"></Button>
  </StackLayout>
</ScrollView>