<ActionBar class="actionbar">
	<NavigationButton visibility="collapsed"></NavigationButton>
	<StackLayout>
		<GridLayout columns="35 * 45">
			<Label [text]="'fa-bars' | fonticon" (tap)="toggleDrawer()" class="fa fa-white center" col="0"></Label>
			<Label [text]="'MIP.TITLE' | translate" class="actionbar-title" col="1"></Label>
		</GridLayout>
	</StackLayout>
</ActionBar>

<ScrollView>
	<DockLayout>
		<Button dock="top" text="GetPermissions" (tap)="getPermissions()"></Button>
		<Button dock="top" text="Scan" (tap)="scan()"></Button>
		<Button dock="top" text="MIP" (tap)="doSound()"></Button>
		<Button dock="top" text="light" (tap)="doColor()"></Button>

		<Button dock="top" text="forward" (tap)="moveForward()"></Button>

		<Label [text]="'fa-arrow-circle-o-left' | fonticon" (tap)="turnLeft()" class="fa fa-icon"></Label>
		<Label [text]="'fa-arrow-circle-o-up' | fonticon" (tap)="moveForward()" class="fa fa-icon"></Label>
		<Label [text]="'fa-arrow-circle-o-down' | fonticon" (tap)="moveBack()" class="fa fa-icon"></Label>
		<Label [text]="'fa-arrow-circle-right' | fonticon" (tap)="turnRight()" class="fa fa-icon"></Label>



		<ListView [items]="devicesAround" (itemTap)="connect($event)">
			<ng-template let-item="item">
				<StackLayout padding="5 10 5 10" style="background-color: #7fff7f;">
					<Label [text]="item.UUID"></Label>
					<Label [text]="item.name"></Label>
					<Label [text]="item.state"></Label>
				</StackLayout>
			</ng-template>
		</ListView>
	</DockLayout>
</ScrollView>