<ActionBar class="actionbar">
	<NavigationButton visibility="collapsed"></NavigationButton>
	<StackLayout>
		<GridLayout columns="35 * 45">
			<Label [text]="'fa-bars' | fonticon" (tap)="toggleDrawer()" class="fa fa-white center" col="0"></Label>
			<Label [text]="'MIP.TITLE' | translate" class="actionbar-title" col="1"></Label>
		</GridLayout>
	</StackLayout>
</ActionBar>

<ScrollView>
	<StackLayout>
		<Label class="button" text="GetPermissions" (tap)="getPermissions()" class="button button-dark"></Label>
		<Label class="button" text="Scan for MiP" (tap)="scan()" class="button button-dark"></Label>
		<ListView [items]="devicesAround" (itemTap)="connect($event)">
			<ng-template let-item="item">
				<StackLayout padding="5 10 5 10">
					<Label [text]="item.UUID"></Label>
					<Label [text]="item.name"></Label>
				</StackLayout>
			</ng-template>
		</ListView>
		<Label class="button" text="Make some noise!" (tap)="doSound()" class="button button-dark" style="margin-top: 60"></Label>
		<Label class="button" text="Light it up!" (tap)="doColor()" class="button button-dark"></Label>
		<Label class="button" text="Wink wink" (tap)="doWink()" class="button button-dark"></Label>
		<FlexboxLayout alignItems="center" justifyContent="space-around" style="padding-top: 30">
			<Label [text]="'fa-arrow-circle-o-left' | fonticon" (tap)="turnLeft()" class="fa fa-icon" col="0"></Label>
			<Label [text]="'fa-arrow-circle-o-up' | fonticon" (tap)="moveForward()" class="fa fa-icon" col="1"></Label>
			<Label [text]="'fa-arrow-circle-o-down' | fonticon" (tap)="moveBack()" class="fa fa-icon" col="2"></Label>
			<Label [text]="'fa-arrow-circle-o-right' | fonticon" (tap)="turnRight()" class="fa fa-icon" col="3"></Label>
		</FlexboxLayout>
	</StackLayout>

</ScrollView>